#CVS crud
*CVS*

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#ROOT files
*.root
trees

#Logs
*.log

#Xcode files
*.xcworkspace

#testing stuff
#test*

#crab jobs
crabs/step*

#related to documentation
AN
pres

#vim temps
*.un~

